
<div class="traveltable">
	<input id="search_tb_input" class="form-control" type="text"
		ng-model="search_table" placeholder="Search your travel location">
	<table class="table table-hover" style="background-color: transparent; width: 100%;max-height: 80%;">
		<thead>
			<tr>
				<th width="40%" data-sortable="true">Nation</th>
				<th width="40%" data-sortable="true">City</th>
				<th width="0%" data-sortable="true" style="display: none;">Memo</th>
				<th width="20%" data-sortable="true">travel date</th>
				<th width="0%" data-sortable="true" style="display: none;">write
					date</th>

			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="item in postArr | filter:search_table "
				ng-click="set_earth(item)">
				<td width="40%">{{item.nation}}</td>
				<td width="40%">{{item.city}}</td>
				<td width="0%" style="display: none;">{{item.memo}}</td>

				<td width="20%">{{item.travel_date | date:'yyyy/MM/dd' }}</td>
				<td width="0%" style="display: none;">{{item.write_date |
					date:'yyyy/MM/dd' }}</td>


			</tr>
		</tbody>
	</table>

</div>
