<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css"
	rel="stylesheet" type="text/css" />

<script src="http://www.webglearth.com/v2/api.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<style>
form div {
	margin-top: 20px;
	margin-bottom: 30px;
}

.help {
	padding-top: 100px;
}

#earth_div {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: relative;
}

.container {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	color: white;
}

h1 {
	display: inline-block;
}

input {
	color: black;
	margin-left: 15px;
}

label {
	float: left;
	padding-top: 20px;
}

#btn_home {
	float: right;
	display: block;
	margin-top: 20px;
}

#my_form_group {
	width: 350px;
}

#p_id {
	color: w;
	margin-left: 15px;
}
</style>
</head>
<body>
	<div id="earth_div"></div>

	<div class="container">

		<div class="mainbody" ng-app="findPassw" ng-controller="contrl">
			<h1>비밀번호 찾기</h1>
			<a href="main_guest.html">
				<button id="btn_home" type="button"
					class="btn btn-default navbar-btn">
					HOME <span class="glyphicon glyphicon-home"></span>
				</button>
			</a>

			<hr />




			<div id="my_form_group">
				<form name="myForm" novalidate>
					<div class="form-group">
						<label class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" name="email" ng-model="email"
								required class="form-control"> <span style="color: red"
								ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span
								ng-show="myForm.email.$error.required">반드시 입력해주세요.</span> <span
								ng-show="myForm.email.$error.email">이메일 형식이 아닙니다.</span>
							</span>
						</div>
					</div>



				</form>
				<div ng-hide="!myForm.email.$dirty">

					<a class="btn btn-primary" ng-click="send_email()"
						ng-disabled="myForm.email.$dirty && myForm.email.$invalid "><i
						class="icon-envelope icon-white"></i> 임시 비밀번호 전송</a>
				</div>
				<form id="login_form" ng-show="is_send">
					<div class="form-group">
						<label class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<p id="p_id" >{{email}}</p>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword"
								placeholder="Password" ng-model="passw">
						</div>
					</div>
					<a class="btn btn-primary" ng-click="login()"
						ng-disabled="myForm.email.$dirty && myForm.email.$invalid "><i
						class="icon-envelope icon-white"></i> 로그인</a>
				</form>
			</div>
			<div class="help">
				<hr />

				<div>
					<i class="icon-info-sign"></i> 도움말
				</div>
				<ul>
					<li>회원가입에서 등록한 이메일 주소를 입력해주세요.</li>
					<li>이메일 주소로 새로 발급된 임시 비밀번호가 전송됩니다.</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script>
	var contrl = angular.module("findPassw", [ 'ui.bootstrap' ]);

	contrl.controller("contrl", function($scope, $http, $window) {
		$scope.is_send = false;

		$scope.send_email = function() {
			$scope.is_send = !$scope.is_send;
			$http.post("/send_email", {
				'email_id' : $scope.email

			}).success(function(response) {
				if (response.length < 1)
					alert("등록되지 않은 email입니다.");

			});
		};
		$scope.login = function() {
			$http.post("/login", {
				'email_id' : $scope.email,
				'password' : $scope.passw

			}).success(
					function(response) {
						console.log(response);
						if (response.length > 0) {
							//go main_user_earth
							$window.location.href = "main_user.html?user_id="
									+ encodeURIComponent(response[0].id_user);
							console.log("login" + response[0].user_id);

						} else {
							alert("잘못된 정보입니다.");
						}
					});

		}

	});
</script>
<script type="text/javascript" src="webgl/script_background.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		initialize();
	});
</script>
</html>