				<div id="login">
					<label>ID</label> 
					<input ng-model="$parent.user_email" name="user_email" type="text"
						focus-me="shouldBeOpen"  focus-on="newItemAdded"/>
				</div>
				<div id="password">
					<label>PASSWORD</label>
					 <input name="passw" ng-model="$parent.passw" type="password" />
				</div>
			<div id="login_button_bar">
				<a class="btn btn-primary" data-ng-click="click_login()">
				<i class="icon-ok icon-white"></i> 로그인</a>
					 <a class="btn"
					href="find_password.html"><i class="icon-search"></i> 비밀번호 찾기</a>
					 <a
					class="btn" href="regist.html"><i class="icon-user"></i>회원가입</a>
			</div>